@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

:root {
  --profile-width: 450px;
  --profile-height: 450px;

  --accent-1: 217, 38, 50;
  --accent-2: 163, 214, 199;
  --accent-3: 8, 120, 135;
  --accent-4: 90, 59, 145;
  --accent-5: 46, 46, 46;

  --transition-height: 100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
}

.font-titillium-web {
  font-family: "Titillium Web";
}

.font-roboto-slab {
  font-family: "Roboto Slab", sans-serif;
}

.trans-top {
  position: absolute;
  background-image: url("../assets/trans2.png");
  width: 100vw;
  height: var(--transition-height);
}

.page-transition {
  position: absolute;
  transform: translateY(-100%);
  background-color: white;
  
  width: 100vw;
  height: var(--transition-height);

  -webkit-mask-image: url("../assets/trans1.png");
  mask-image: var("../assets/trans1.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.flip-img {
  transform: scale(1, -1);
} 

.section-header {
  font-size: 3.5rem;
}

/* Temp blocks */
body {
  height: 10000vh;
}

.placeholder-img {
  position: static;
}
